.home-container{
        height: 60vh;

        .bellFunction-image{
            width: 35rem;
            margin-left: 5rem;
            margin-top: -2rem;
        }
}

.logo-alert{
    color: var(--color-red);
}